.auth-container {
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .auth-form {
        display: flex;
        flex-direction: column;
        width: 250px;
        margin: 0 auto;

        .auth-text-field {
            margin-top: 20px;
            &.btn {
                background-color: rgb(133, 221, 137);
            }
        }
        .swip-auth-form {
            text-align: center;
        }
    }
}